<!doctype html>
<html lang="en">

<head>
  <title>Carrello</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <!-- Icone -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <style>
body {
      background-image: url(https://www.teatrodellatoscana.it/media/banner/teatro-della-pergola-banner.jpg);
    }

    .parallax {
      /* Set a specific height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .btn-color {
      background-color: #530808;

    }

    .bg-header {
      background-color: #1111119c;
    }

    .bg-color {
      background-color: #d68a18b0;
    }
  </style>
</head>

<body class="d-flex flex-column min-vh-100 parallax">
  <header>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-header py-3">
        <a class="navbar-brand ps-5" href="#">MUSICALZ</a>
        <div class="container">
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex align-items-center" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0 fs-4">
              <li class="nav-item border rounded me-3 px-3">
                <a class="nav-link" href="home">Home
                  </a>
              </li>
              <li class="nav-item me-3 border rounded px-3" id="navPrenotazioni">
                <a class="nav-link" href="prenotazioni">Prenotazioni</a>
              </li>
  
            </ul>
  
          </div>
        </div>
        <div class="nav-item ms-auto">
  
          <button id="btnCarrello" class="btn btn-color fs-4 text-white me-3 border active">Carrello <i
              class='bi bi-cart'></i></button>
          <button id="btnLogout" class="btn btn-danger fs-4 me-5 border">Logout</button>
        </div>
      </nav>
  
    </header>

  </header>
  <main>

    <div class="container">
      <div class="row align-items-start justify-content-between border bg-color p-4 rounded mt-5">
        <div class="col-5 ">
          <h2 class="text-white">Spettacoli nel carrello</h2>
          <hr class="text-white mb-4">
          <h4 id="noSpettacoli" class="text-white"></h4>
          <ul class="list-group list-group-flush rounded d-flex" id="titoliSelezionati">

          </ul>
        </div>
        <div class="col-5 text-end mx-3 text-white" id="riepilogo">
          <h2>Riepilogo</h2>
          <hr>

          <!-- <label for="richiesteSpeciali" class="form-label fs-5 mt-3">Richieste speciali</label>
          <textarea name="richiesteSpeciali" id="richiesteSpeciali" class="form-control" rows="3"></textarea> -->


          <label for="metodoPagamento" class="form-label fs-5 mt-2">Seleziona metodo di pagamento</label>
          <select name="metodoPagamento" id="metodoPagamento" class="form-select form-select-lg mb-4">
            <option value="">Seleziona</option>
            <option value="Carta di credito">Carta di credito</option>
            <option value="Bonifico">Bonifico</option>
          </select>

          
          <label for="quantita" class="form-label fs-5 mt-4">Quanti biglietti?</label>
          <input type="number" class="form-control" name="quantita" id="quantita">

          <h4 id="codCliente"></h4>
          <h4 id="codReplica"></h4>



    </div>

  </main>
  <footer class="mt-auto bg-header text-white text-center py-3 d-flex align-items-center justify-content-center">
    <small class="fs-5">&copy;Stefania B22-104-2024 TSS</small>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

  <script>

let userConnessoJSON = localStorage.getItem("userConnesso");
    let userConnesso = JSON.parse(userConnessoJSON);

    let spettacoliCarrello = JSON.parse(localStorage.getItem("spettacoliCarrello"));
    let replicheCarrello = JSON.parse(localStorage.getItem("replicheCarrello"));

    let titoliSelezionati = document.querySelector("#titoliSelezionati");
    let riepilogo = document.querySelector("#riepilogo");
    let metodoPagamento = document.querySelector("#metodoPagamento");

    let prezzoTotale = 0;

    if (spettacoliCarrello && spettacoliCarrello.length > 0) {
      spettacoliCarrello.forEach((spettacolo, index) => {
        let li = document.createElement("li");
        li.setAttribute("class", "list-group-item rounded d-flex align-items-center justify-content-between mb-2");
        li.textContent = `Titolo: ${spettacolo.titolo}. Prezzo: ${spettacolo.prezzo},00€.`;



        let buttonDelete = document.createElement("button");
        buttonDelete.setAttribute("class", "btn btn-danger");
        buttonDelete.textContent = "Elimina";

        li.append(buttonDelete)
        titoliSelezionati.append(li);

        // Eliminare viaggio dal carrello
        buttonDelete.addEventListener("click", function () {
          spettacoliCarrello.splice(index, 1);
          localStorage.setItem("spettacoliCarrello", JSON.stringify(spettacoliCarrello))
          location.reload();
        })

        // Calcolo somma
        prezzoTotale += spettacolo.prezzo;

      });

      // RIEPILOGO

      let totPrenotazioneTitle = document.createElement("h3");
      totPrenotazioneTitle.classList.add("mt-5");
      totPrenotazioneTitle.textContent = "Totale";

      let h4prezzo = document.createElement("h4");
      h4prezzo.textContent = prezzoTotale + ",00€";

      let buttonConferma = document.createElement("button");
      buttonConferma.setAttribute("class", "btn btn-color border border-light border-2 my-3 text-white fs-3 py-2 px-3");
      buttonConferma.textContent = "Conferma";

      riepilogo.append(totPrenotazioneTitle, h4prezzo, buttonConferma);

      // class Prenotazione {
      //   constructor(dataPrenotazione, viaggio, utente) {
      //     this.dataPrenotazione = dataPrenotazione,
      //       this.viaggio = viaggio,
      //       this.utente = utente
      //   }
      // }



      // let prenotazione = new Prenotazione(new Date(), spettacoliCarrello, userConnesso[0]);
      // console.log(prenotazione);
      console.log(viaggiCarrello);

      buttonConferma.addEventListener("click", function () {
        console.log("Conferma button clicked");
        fetch("http://localhost:9013/api/biglietti", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(prenotazione)
        }).then(response => {
          if (!response.ok) {
            throw new Error("Qualcosa è andato storto");
          }
          return response.json();
        }).then(data => {
          console.log("Prenotazione confermata:", data);
          let messaggioConferma = document.createElement("h4");
          let countdown = 7;

          setInterval(() => {
            messaggioConferma.textContent = "Il viaggio è stato confermato con successo. Stai per essere reindirizzato tra " + countdown + " secondi."
            messaggioConferma.setAttribute("class", "text-white mt-5 p-4 bg-header rounded");
            countdown--;
            if (countdown <= 0) {

              document.body.removeChild(confermaMessaggio);
              clearInterval(countdownInterval);
            }
          }, 1000);

          titoliSelezionati.append(messaggioConferma);

          setTimeout(() => {
            localStorage.removeItem("spettacoliCarrello");
            window.location = "home";
          }, 7000);


        });

      })
      // })

    } else {
      document.querySelector("#noSpettacoli").textContent = "Non hai selezionato nessuno spettacolo.";
    }

       // LOGOUT
       let btnLogout = document.querySelector("#btnLogout");
      btnLogout.addEventListener("click", function () {

        localStorage.clear();
        window.location = "index";
      })


  </script>

</body>

</html>